<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696193129109-iil7u2ec1a89sil3virqaghm4hj3jffl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696193129109-iil7u2ec1a89sil3virqaghm4hj3jffl</string>
	<key>API_KEY</key>
	<string>AIzaSyAlg9JYrWm-DW5D6MKqYqviefg-lrYJgv8</string>
	<key>GCM_SENDER_ID</key>
	<string>696193129109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BusinessHubReactNativeTraining</string>
	<key>PROJECT_ID</key>
	<string>iosreactnative-1e8e0</string>
	<key>STORAGE_BUCKET</key>
	<string>iosreactnative-1e8e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696193129109:ios:9a20243d86a98bebd1599c</string>
	<key>DATABASE_URL</key>
	<string>https://iosreactnative-1e8e0.firebaseio.com</string>
</dict>
</plist>